$dark-grey: #171717;
//$background: #2a2a2e; // #

$mild-grey: #282828;

$red: #ec0f20;
$shaded-red: #9c141e;
$dark-red: #581418;

$background-red: #420000;

$radiant-green: #73ea00;
$green: #28ac02;
$shaded-green: #22690c;
$dark-green: #1a3810;

$blue: #11cbe9;
$shaded-blue: #167989;
$dark-blue: #143f46;

$background-blue: #1a5370;

$yellow: #dfb300;

$light-brown: #ab9b79;
